<div class="d-flex align-items-center justify-content-center vh-100" style="margin: 10% 0 20% 0;">
    <div class="text-center">
        <h1 class="display-1 fw-bold">Success</h1>
        <p class="fs-3"> <span class="text-success">Thành công ! </span>Đơn hàng đã được xác nhận.</p>
        <p class="lead">Chúng tôi sẽ xử lý đơn hàng của bạn sớm nhất.</p>
        <a style="margin: 2% 0;" href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>